.header-main {
  background-color: #504;
  display: flex;
  height: 70px;
  width: auto;
}

.header-left-block {
  width: 25%;
}

.header-right-block {
  width: 25%;
}

.header-centr-block {
  width: 50%;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}

.header-text-block {
  display: flex;
  align-items: center;
  width: 85%;
}

.header-text {
  color: #ebe;
  font-size: 25px;
  margin: 0 10px;
}

.header-logo {
  color: #ebe;
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 15%;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px #733a73;
}
