<div class="header-main">
    <!-- clear left area-->
    <div class="header-left-block"></div>
    <div class="header-centr-block">
        <div class="header-logo">
            Doggy-famaly
        </div>
        <div class="header-text-block">
            <div class="header-text">
                text
            </div>
            <div class="header-text">
                text
            </div>
            <div class="header-text">
                text
            </div>
            <div class="header-text">
                text
            </div>
            <div class="header-text">
                text
            </div>
        </div>
    </div>
    <div class="header-right-block"></div>
</div>