.body-main {
  display: flex;
  width: auto;
  justify-content: center;
}

.body-centr-block {
  background-color: #d9bcd9;
  width: 50%;
  display: flex;
  padding: 0 10px;
}

body {
  background-color: #f0dbf0;
}
